@{
    Layout = "/SeedModules.AngularUI/Views/_Layout.cshtml";
}
<div class="container">
    <div class="jumbotron">
        <h1>安装系统</h1>
        <p>就是需要先安装一下</p>
    </div>
    <form name="form" role="form">
        <h6><i class="glyphicon glyphicon-chevron-right"></i> 基本信息</h6>
        <div class="row">
            <fieldset class="form-group col-md-6">
                <label>名称：</label>
                <div>
                    <input class="form-control" placeholder="输入名称" />
                </div>
            </fieldset>
            <fieldset class="form-group col-md-6">
                <label>功能：</label>
                <div>
                    <select class="form-control"></select>
                </div>
            </fieldset>
        </div>
        <h6><i class="glyphicon glyphicon-chevron-right"></i> 数据库信息</h6>
        <div class="row">
            <fieldset class="form-group col-md-6">
                <label>数据库类型：</label>
                <div>
                    <select class="form-control"></select>
                </div>
            </fieldset>
            <fieldset class="form-group col-md-6">
                <label>表前缀：</label>
                <div>
                    <input class="form-control" placeholder="输入表前缀" />
                </div>
            </fieldset>
            <fieldset class="form-group col-md-12">
                <label>连接字符串：</label>
                <div>
                    <input class="form-control" placeholder="输入连接字符串" />
                </div>
            </fieldset>
        </div>
        <h6><i class="glyphicon glyphicon-chevron-right"></i> 用户信息</h6>
        <div class="row">
            <fieldset class="form-group col-md-6">
                <label>用户名：</label>
                <div>
                    <input class="form-control" placeholder="输入用户名" />
                </div>
            </fieldset>
            <fieldset class="form-group col-md-6">
                <label>邮箱：</label>
                <div>
                    <input class="form-control" placeholder="输入邮箱" />
                </div>
            </fieldset>
            <fieldset class="form-group col-md-6">
                <label>密码：</label>
                <div>
                    <input type="password" class="form-control" placeholder="输入密码" />
                </div>
            </fieldset>
            <fieldset class="form-group col-md-6">
                <label>确认密码：</label>
                <div>
                    <input type="password" class="form-control" placeholder="输入密码" />
                </div>
            </fieldset>
        </div>
    </form>
    <div class="text-right">
        <button class="btn btn-default">重置</button>
        <button class="btn btn-primary">开始安装</button>
    </div>
</div>