<div class="mind-container" ng-controller="SeedModules.MindPlus/modules/myworks/components/workitem/master" ng-init="loadWorkItems()">
    <div class="navbar navbar-default navbar-static-top" style="margin: 0">
        <div class="navbar-header">
            <div class="navbar-form">
                <div class="form-group has-feedback">
                    <input class="form-control" placeholder="搜索..." />
                    <span class="glyphicon glyphicon-search text-muted form-control-feedback" aria-hidden="true"></span>
                </div>
            </div>
        </div>
        <div class="container-fluid" ui-view="toolbar"></div>
    </div>
    <div ui-view="content" class="mind-container mind-container-navcontent"></div>
</div>