<div ng-controller="SeedModules.MindPlus/ui/myworks/controllers/tags" ng-init="load()">
    <div class="navbar navbar-static-top" style="margin: 0">
        <div class="navbar-header">
            <div class="navbar-form">
                <div class="form-group has-feedback">
                    <input class="form-control" placeholder="搜索..." />
                    <span class="glyphicon glyphicon-search text-muted form-control-feedback" aria-hidden="true"></span>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="navbar-form navbar-right">
                <button class="btn btn-primary" ng-click="create()">
                    <i class="glyphicon glyphicon-plus"></i>
                    新建标签
                </button>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <table ng-table="tableParams" class="table table-hover">
            <thead>
                <tr>
                    <th colspan="3">总数：</th>
                </tr>
            </thead>
            <tr ng-repeat="row in list">
                <td>
                    <i class="glyphicon glyphicon-stop" ng-style="{'color':row.color}"></i>
                    {{row.name}}
                </td>
                <td>
                    工作项：
                    <a ng-href="{{'#/workspace/' + $stateParams.id + '/list?tag=' + row.id}}" class="text-primary">{{row.workItems}}</a>
                </td>
                <td>
                    <a href="" class="text-primary" ng-show="row.id" ng-click="edit(row)">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a href="" class="text-danger" ng-show="row.id" ng-click="drop(row)">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>