<div ng-controller="SeedModules.MindPlus/ui/myworks/controllers/workItem">
    <div class="modal-body row">
        <div class="col-md-9">
            <p>
                <h3 class="modal-title">
                    {{$data.title}}
                </h3>
            </p>
            <form name="theForm" sf-schema="formParams.schema()" sf-form="formFields" sf-options="formParams.options()" sf-model="$data.model">
            </form>
            <div class="form-group">
                <label>标签</label>
                <div tag-input value-field="value" text-field="text" tag-options='queryCities' text-input="true" ng-disabled="testDisabled"
                    placeholder="aaaa"></div>
                <!-- <input class="form-control" ng-disabled="true">
                <input type="checkbox" ng-model="testDisabled"> -->
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group has-feedback dropdown">
                <label class="control-label">所属项目</label>
                <input class="form-control form-control-enabled" data-toggle="dropdown" ng-readonly="true" placeholder="请选择...">
                <span class="form-control-feedback">
                    <i class="caret"></i>
                </span>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="">项目1</a>
                    </li>
                </ul>
            </div>
            <div class="form-group has-feedback">
                <label class="control-label">执行人</label>
                <input class="form-control form-control-enabled" data-toggle="dropdown" ng-readonly="true" placeholder="请选择...">
                <span class="form-control-feedback">
                    <i class="caret"></i>
                </span>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="">项目1</a>
                    </li>
                </ul>
            </div>
            <div class="form-group has-feedback">
                <label class="control-label">状态</label>
                <select class="form-control"></select>
            </div>
            <div class="form-group">
                <label class="control-label">优先级</label>
            </div>
        </div>
    </div>
    <div class="modal-footer clearfix">
        <button class="btn btn-primary">
            <i class="glyphicon glyphicon-ok-sign"></i>
            确定
        </button>
        <button class="btn btn-default" ng-click="$dismiss()">
            <i class="glyphicon glyphicon-remove-sign"></i>
            取消
        </button>
    </div>
</div>