<div ng-controller="SeedModules.PageBuilder/modules/components/datasource/form">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#ds_baseinfo" aria-controls="ds_baseinfo" role="tab" data-toggle="tab">基础信息</a>
        </li>
        <li role="presentation">
            <a href="#ds_fields" aria-controls="ds_fields" role="tab" data-toggle="tab">字段</a>
        </li>
        <li role="presentation">
            <a href="#ds_actions" aria-controls="ds_actions" role="tab" data-toggle="tab">行为</a>
        </li>
        <li class="pull-right">
            <button class="btn btn-default" ng-click="dsform.cancel()">
                <i class="glyphicon glyphicon-remove"></i>
                取消
            </button>
        </li>
        <li class="pull-right" style="margin-right: 5px">
            <button class="btn btn-primary">
                <i class="glyphicon glyphicon-floppy-disk"></i>
                保存
            </button>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content" style="padding-top: 20px">
        <div role="tabpanel" class="tab-pane active" id="ds_baseinfo" ng-controller="SeedModules.PageBuilder/modules/components/datasource/baseinfo">
            <form name="baseinfo" class="container" sf-schema="sfForm.schema" sf-form="sfForm.form" sf-options="sfForm.options"></form>
        </div>
        <div role="tabpanel" class="tab-pane" id="ds_fields" ng-controller="SeedModules.PageBuilder/modules/components/datasource/fields">
            <table class="table">

            </table>
        </div>
        <div role="tabpanel" class="tab-pane" id="ds_actions">...</div>
    </div>
</div>