<div ng-controller="SeedModules.Admin/modules/admin/controllers/admin">
    <!--防止记住密码-->
    <form style="display:none">
        <input type="password" tabindex="-1" />
        <input type="password" name="Password" tabindex="-1" />
    </form>
    <input type="password" tabindex="-1" style="width: 0; height: 0; float: left; visibility: hidden" />
    <input type="password" name="Password" tabindex="-1" style="width: 0; height: 0; float: left; visibility: hidden" />

    <!---->
    <div sidebar="sidebar" nav-data="navData" home-href="#/admin/dashboard" home-title="首页"></div>
    <div class="sidebar-content seed-container seed-bg">
        <div class="navbar navbar-default navbar-static-top" style="margin: 0">
            <div class="navbar-header navbar-form">
                <button class="btn btn-success" ng-click="sidebar.toggle()">
                    <i class="fas fa-bars"></i>
                </button>
            </div>
            <div class="container-fluid">
                <div class="collapse navbar-collapse">
                    <!-- <div class="navbar-form navbar-left">
                        <button class="btn btn-default" ng-click="testFn()">test</button>
                    </div>
                    <div id="testa" class="navbar-form navbar-left">aaaaaassssssssssss</div> -->
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user-circle fa-fw"></i>
                                管理员
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="" ng-click="changePassword()">
                                        <i class="fas fa-key"></i>
                                        修改密码
                                    </a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a href="" ng-click="logout()">
                                        <i class="glyphicon glyphicon-off"></i>
                                        退出
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="seed-content container-fluid">
            <ol class="breadcrumb" style="margin-top: 20px">
                <li>
                    <a href="#/admin/dashboard">
                        <i class="fas fa-home"></i>
                        首页
                    </a>
                </li>
                <li class="active" ng-show="$state.current.title&&$state.current.title!==''">
                    <span>{{$state.current.title}}</span>
                </li>
            </ol>
            <div ui-view></div>
        </div>
    </div>
</div>