<div class="row" ng-controller="SeedModules.Admin/modules/admin/controllers/roles">
    <div class="col-md-3">
        <div class="panel panel-default" ng-init="loadRoles()">
            <div class="panel-heading">
                <strong>角色列表</strong>
            </div>
            <div class="list-group">
                <a href="" class="list-group-item" ng-class="{'active': currentRole&&currentRole.id===role.id}" ng-click="selectRole(role)"
                    ng-repeat="role in roles">
                    <span ng-bind="role.rolename" ng-if="!role.displayName||role.displayName===''"></span>
                    <span ng-bind="role.displayName" ng-if="role.displayName&&role.displayName!==''"></span>
                </a>
                <a href="" class="list-group-item text-center" ng-click="create()">
                    <i class="glyphicon glyphicon-plus"></i>
                    新建
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-9" ng-show="currentRole===null">
        <div class="well well-lg text-center">
            <h3>请选择角色</h3>
        </div>
    </div>
    <div class="col-md-9" ng-show="currentRole!==null">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#home" aria-controls="home" role="tab" data-toggle="tab">
                    <i class="glyphicon glyphicon-user"></i>
                    成员
                </a>
            </li>
            <li role="presentation">
                <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
                    <i class="glyphicon glyphicon-lock"></i>
                    权限
                </a>
            </li>
            <li>
                <a href="" ng-click="setName(currentRole)">
                    <i class="glyphicon glyphicon-pencil"></i>
                    别名
                </a>
            </li>
            <li class="pull-right">
                <a href="" aria-controls="profile" ng-click="cancelEditing()">
                    <i class="glyphicon glyphicon-remove"></i>
                    取消
                </a>
            </li>
            <li class="pull-right">
                <a href="" class="text-danger" aria-controls="profile" ng-click="drop()">
                    <i class="glyphicon glyphicon-trash"></i>
                    删除
                </a>
            </li>
        </ul>
        <div class="tab-content" style="margin-top: 20px">
            <div role="tabpanel" class="tab-pane active" id="home">
                <div class="navbar navbar-default">
                    <div class="navbar-header">
                        <div class="navbar-form">
                            <button class="btn btn-danger" ng-click="removeMember()">
                                <i class="glyphicon glyphicon-minus"></i>
                                移除选中
                            </button>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="navbar-form navbar-right">
                            <button class="btn btn-success" ng-click="addMember()">
                                <i class="glyphicon glyphicon-plus"></i>
                                添加
                            </button>
                        </div>
                    </div>
                </div>
                <table ng-table="tableParams" class="table table-striped table-hover">
                    <colgroup>
                        <col width="45px" />
                    </colgroup>
                    <tr ng-repeat="row in $data">
                        <td header="'table-checkbox.html'">
                            <input type="checkbox" ng-model="checked[row.id]" ng-change="onCheck()">
                        </td>
                        <td title="'用户名'">{{row.username}}</td>
                        <td title="'姓名'">{{row.lastName}}&nbsp;{{row.firstName}}</td>
                        <td title="'邮箱'">{{row.email}}</td>
                        <td title="'操作'">
                            <a href="" class="text-danger" ng-click="removeMember(row)">移除</a>
                        </td>
                    </tr>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="profile">
                <div class="navbar navbar-default">
                    <div class="navbar-header">
                        <div class="navbar-form">
                            <button class="btn btn-default">全选</button>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="navbar-form navbar-right">
                            <button class="btn btn-primary">
                                <i class="glyphicon glyphicon-floppy-disk"></i>
                                保存
                            </button>
                        </div>
                    </div>
                </div>

                <!-- <div class="panel panel-default">
                    <table class="table table-bordered">
                        <colgroup>
                            <col width="20%">
                        </colgroup>
                        <tr>
                            <td>
                                <input type="checkbox"> aaaaa</td>
                            <td>aaaaaaaa</td>
                        </tr>
                    </table>
                </div> -->
                <div class="list-group">
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-md-2">
                                <input type="checkbox"> aaaaa
                            </div>
                            <div class="col-md-10" style="border-left: 1px solid #ddd;">
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <input type="checkbox"> aaaaaaaaaa
                                        <i class="glyphicon glyphicon-question-sign text-muted" tooltip="help"></i>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <input type="checkbox"> aaaaaaaaaa
                                    </div>
                                    <div class="form-group col-md-4">
                                        <input type="checkbox"> aaaaaaaaaa
                                    </div>
                                    <div class="form-group col-md-4">
                                        <input type="checkbox"> aaaaaaaaaa
                                    </div>
                                    <div class="form-group col-md-4">
                                        <input type="checkbox"> aaaaaaaaaa
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-md-2">
                                <input type="checkbox"> aaaaa
                            </div>
                            <div class="col-md-10" style="border-left: 1px solid #ddd;">
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <input type="checkbox"> aaaaaaaaaa
                                    </div>
                                    <div class="form-group col-md-4">
                                        <input type="checkbox"> aaaaaaaaaa
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="table-checkbox.html">
    <input type="checkbox" ng-model="checkedAll" ng-click="checkAll()">
</script>