<!DOCTYPE html>
<!--[if lte IE 8]><html lang="zh-cn" data-html-type="no-js lte-ie8"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="zh-cn" data-html-type="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="/SeedModules.AngularUI/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/SeedModules.AngularUI/css/font-awesome.min.css" />
    @Html.AngularUI("/SeedModules.AngularUI/js/require.min.js", "/SeedModules.AngularUI/js/main.js")
</head>
<body>
    @RenderBody()
</body>
</html>