<div class="mind-container work-status-container bg-blank" ng-controller="SeedModules.MindPlus/modules/myworks/components/workitem/board"
    ng-init="loadStatus()">
    <div class="work-status" ng-repeat="item in status">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <span class="panel-title pull-left">
                    <i class="glyphicon glyphicon-th"></i>
                    {{item.name}}
                </span>
                <div class="pull-right">
                    <div class="dropdown">
                        <a href="" class="text-muted dropdown-toggle" data-toggle="dropdown">
                            <i class="glyphicon glyphicon-menu-hamburger"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href="" ng-click="createWorkItem()">添加工作项</a>
                            </li>
                            <li>
                                <a href="" ng-click="editStatus(item)">编辑状态</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="" ng-click="deleteStatus(item)">删除</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- <div class="navbar navbar-default navbar-static-top">
                <div class="navbar-header">
                    <div class="navbar-form">
                        <div class="form-group has-feedback">
                            <input class="form-control" placeholder="搜索...">
                            <div class="form-control-feedback">
                                <i class="glyphicon glyphicon-search"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="list-group">
                <!-- <div href="" class="list-group-item">
                        <h4 class="list-group-item-heading">List group item heading</h4>
                        <p class="list-group-item-text"></p>
                    </div> -->
            </div>
            <div class="list-group work-status-add">
                <a href="" class="list-group-item text-center" ng-click="createWorkItem()">
                    <i class="glyphicon glyphicon-plus"></i>
                    添加工作项
                </a>
            </div>
        </div>
    </div>

    <div class="work-status">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <span class="panel-title pull-left">
                    未指定
                </span>
                <div class="pull-right">
                    <div class="dropdown">
                        <a href="" class="text-muted dropdown-toggle" data-toggle="dropdown">
                            <i class="glyphicon glyphicon-menu-hamburger"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href="" ng-click="createWorkItem()">添加工作项</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- <div class="navbar navbar-default navbar-static-top">
                <div class="navbar-header">
                    <div class="navbar-form">
                        <div class="form-group has-feedback">
                            <input class="form-control" placeholder="搜索...">
                            <div class="form-control-feedback">
                                <i class="glyphicon glyphicon-search"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="list-group">
                <!-- <div href="" class="list-group-item">
                    <h4 class="list-group-item-heading">List group item heading</h4>
                    <p class="list-group-item-text"></p>
                </div> -->
            </div>
            <div class="list-group work-status-add">
                <a href="" class="list-group-item text-center" ng-click="createWorkItem()">
                    <i class="glyphicon glyphicon-plus"></i>
                    添加工作项
                </a>
            </div>
        </div>


    </div>
</div>