<div class="container-fluid">
    <div>

    </div>
    <div style="width: 25%">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <span class="panel-title pull-left">
                    <i class="glyphicon glyphicon-th"></i>
                    未指定
                </span>
                <div class="pull-right">
                    <a href="" class="text-muted" ng-click="createWorkItem()">
                        <i class="glyphicon glyphicon-plus"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body"></div>
        </div>
    </div>
</div>