<div class="mind-container" ng-controller="SeedModules.MindPlus/modules/myworks/components/workitem/document">
    <div class="mind-container bg-blank" style="margin-right: 35%; overflow: auto">
        <div class="container-fluid" style="margin-top: 20px">
            <div ng-tree class="panel-group nav mind-document-tree mind-ol" tree-data="worktree" item-init="initWorkItem($item)" root-template-url="'/SeedModules.MindPlus/modules/myworks/templates/workItemRoot.html'">
            </div>
        </div>
    </div>
    <div class="mind-container" style="left: auto; width: 35%; border-left: solid 1px #ddd">
        批注
    </div>
</div>