<div ng-controller="SeedModules.MindPlus/modules/myworks/components/workitem/master" ng-init="loadWorkItems()">
    <div class="navbar navbar-default navbar-static-top">
        <div class="navbar-header">
            <div class="navbar-form">
                <div class="form-group has-feedback">
                    <input class="form-control" placeholder="搜索..." />
                    <span class="glyphicon glyphicon-search text-muted form-control-feedback" aria-hidden="true"></span>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="navbar-form navbar-right">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <i class="{{views[$state.current.name].icon}}"></i>
                        {{views[$state.current.name].text}}
                        <i class="caret"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-class="{'active': $state.current.name===v.state}" ng-repeat="v in views">
                            <a href="" ng-click="$state.go(v.state, {id:$stateParams.id})">
                                <i class="{{v.icon}}"></i>
                                {{v.text}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div ui-view></div>
</div>