<div class="panel-group" id="{{vm.getId()}}" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default" role="tab" ng-repeat="(key, value) in tools">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#{{vm.getId()}}" href="#{{vm.getCategoryId($id)}}" aria-expanded="true"
                    aria-controls="{{vm.getCategoryId($id)}}">
                    {{key}}
                </a>
            </h4>
        </div>
        <div id="{{vm.getCategoryId($id)}}" class="list-group panel-collapse collapse in" role="tabpanel">
            <a href="" class="list-group-item" ng-repeat="val in value track by $index">
                <i ng-class="vm.getIcon(val)"></i>
                {{val.name}}
            </a>
        </div>
    </div>
</div>