<div class="container" ng-controller="SeedModules.Admin/ui/login/controllers/login">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    用户登录
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label>用户名</label>
                        <input class="form-control">
                    </div>
                    <div class="form-group">
                        <label>密码</label>
                        <input type="password" class="form-control">
                    </div>
                </div>
                <div class="panel-footer text-right">
                    <button type="button" class="btn btn-primary">登录</button>
                </div>
            </div>
        </div>
    </div>
</div>