<a href="" ng-if="!isLeaf(item)" ng-click="itemExpended(item, $event)" ng-style="getItemStyle(item)">
    <i class="fas fa-plus fa-fw"></i>
    {{getItemText(item)}}
</a>
<a href="" ng-if="isLeaf(item)" ng-click="warpCallback('itemClicked', item, $event)" ng-style="getItemStyle(item)">
    <i class="fas fa-file fa-fw"></i>
    {{getItemText(item)}}
</a>
<ul class="nav" ng-if="!isLeaf(item)" ng-show="item.$$isExpend">
    <li ng-repeat="item in getItemChildren(item)" ng-include="'/SeedModules.AngularUI/modules/templates/ngTreeItem.html'"></li>
</ul>