<div class="form-group" ng-class="{'has-feedback':!ngModel||ngModel===''}">
    <div ng-class="{'input-group':ngModel&&ngModel!==''}">
        <input class="form-control" placeholder="{{mark}}" ng-change="modelChanged()" ng-model="ngModel">
        <div class="input-group-btn" ng-if="ngModel&&ngModel!==''">
            <button class="btn btn-danger" ng-click="reset()">
                <i class="glyphicon glyphicon-remove"></i>
            </button>
        </div>
    </div>
    <div class="form-control-feedback text-muted" ng-if="!ngModel||ngModel===''">
        <i class="glyphicon glyphicon-search"></i>
    </div>
</div>