<div class="container" ng-controller="modules/sample/components/jexcel">
    <div class="navbar navbar-fixed-top navbar-default">
        <div class="container">
            <div class="navbar-form navbar-right">
                <button class="btn btn-default" ng-click="vm.update()">update</button>
            </div>
        </div>
    </div>
    <div style="margin-top: 70px">
        <div class="form-group">
            <textarea class="form-control" rows="5" ng-model="datatext"></textarea>
        </div>
        <div id="mytable"></div>
    </div>
</div>