<div ng-controller="SeedModules.PageBuilder/modules/components/builder/pageForm as pageForm">
    <div style="margin-bottom: 20px">
        <div class="pull-left">
            <button class="btn btn-default" ng-click="pageForm.back()">
                <i class="glyphicon glyphicon-chevron-left"></i>
                返回
            </button>
        </div>
        <div class="pull-right">
            <button class="btn btn-default" ng-click="pageForm.preview()">
                <i class="glyphicon glyphicon-eye-open"></i>
                预览
            </button>
            <div class="btn-group" ng-controller="SeedModules.PageBuilder/modules/controllers/pageCommon as pageCommon">
                <button class="btn btn-default">
                    <i class="glyphicon glyphicon-oil"></i>
                    数据源
                </button>
                <button class="btn btn-default">
                    <i class="glyphicon glyphicon-flash"></i>
                    行为
                </button>
                <button class="btn btn-default">
                    <i class="glyphicon glyphicon-lock"></i>
                    权限
                </button>
            </div>
            <button class="btn btn-primary" ng-disabled="pageform.$invalid">
                <i class="glyphicon glyphicon-floppy-disk"></i>
                保存
            </button>
        </div>
    </div>
    <div class="seed-container" style="top: 130px">
        <div class="panel panel-default seed-container pb-container">
            <div pb-toolbox class="seed-container tools"></div>
            <div class="seed-container area">

            </div>
            <div class="seed-container property">
                <ul class="nav nav-swiper nav-justified shadow nav-swiper-primary">
                    <li class="text-center active">
                        <a href="#cus_info" aria-controls="cus_info" role="tab" data-toggle="tab">
                            控件
                        </a>
                    </li>
                    <li class="text-center">
                        <a href="#cus_tkg" aria-controls="cus_tkg" role="tab" data-toggle="tab">
                            表单
                        </a>
                    </li>
                </ul>
                <div class="tab-content seed-container" style="margin-top: 40px">
                    <div role="tabpanel" class="tab-pane seed-container active" style="overflow: auto" id="cus_info">
                        控件
                    </div>
                    <div role="tabpanel" class="tab-pane seed-container" style="overflow: auto" id="cus_tkg">
                        <!-- <form role="form" name="pageform" class="panel-body">
                            <div class="form-group" ng-class="{'has-error':pageform.pagename.$invalid}">
                                <label>页面名称</label>
                                <input type="text" name="pagename" ng-model="pagename" class="form-control" placeholder="页面名称" required>
                            </div>
                        </form> -->
                        <form name="pageform" class="panel-body" sf-schema="form.schema" sf-form="form.form" sf-options="form.options" sf-model="form.model"></form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>