@{
    Layout = "/SeedModules.AngularUI/Views/_Layout.cshtml";
    ViewBag.Title = "首页";
    //ViewBag.UIOptions = new
    //{
    //    version = "1.0",
    //    references = new Dictionary<string, object>()
    //    {
    //        {
    //            "seedmodules/setup",
    //            new
    //            {
    //                path = "/SeedModules.Setup/js/setup"
    //            }
    //        }
    //    },
    //    requires = new string[] { "seedmodules/setup" },
    //    noDebugs = new string[] { "seedmodules/setup" }
    //};
}
<div class="container">首页</div>