<div ng-controller="SeedModules.Admin/ui/admin/controllers/admin">
    <div sidebar="sidebar" nav-data="navData" home-href="#/admin/dashboard" home-title="首页"></div>
    <div class="sidebar-content seed-container seed-bg">
        <div class="navbar navbar-default navbar-static-top" style="margin: 0">
            <div class="navbar-header navbar-form">
                <button class="btn btn-success" ng-click="sidebar.toggle()">
                    <i class="fas fa-bars"></i>
                </button>
            </div>
            <div class="container-fluid">
                <div class="collapse navbar-collapse">
                    <!-- <div class="navbar-form navbar-left">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="text-success">
                                    <i class="fas fa-circle fa-fw"></i>
                                    在线
                                    <span class="caret"></span>
                                </span>
                            </button>
                            <ul class="dropdown-menu">
                                <li class="active">
                                    <a href="">
                                        <i class="fas fa-circle fa-fw text-success"></i>
                                        在线
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fas fa-circle fa-fw text-info"></i>
                                        外呼
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fas fa-circle fa-fw text-danger"></i>
                                        置忙
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fas fa-circle fa-fw text-muted"></i>
                                        离席
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="input-group">
                            <input class="form-control">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-success">
                                    <i class="glyphicon glyphicon-earphone"></i>
                                    呼叫
                                </button>
                            </div>
                        </div>
                        <button class="btn btn-info">正在拨号，请稍后</button>
                    </div> -->
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user-circle fa-fw"></i>
                                管理员
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="">
                                        <i class="glyphicon glyphicon-cog"></i>
                                        设置
                                    </a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a href="" ng-click="logout()">
                                        <i class="glyphicon glyphicon-off"></i>
                                        退出
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="seed-content container-fluid">
            <ol class="breadcrumb" style="margin-top: 20px">
                <li>
                    <a href="#/admin/dashboard">
                        <i class="fas fa-home"></i>
                        首页
                    </a>
                </li>
                <li class="active" ng-show="$state.current.title&&$state.current.title!==''">
                    <span>{{$state.current.title}}</span>
                </li>
            </ol>
            <div ui-view></div>
        </div>
    </div>
</div>