@using SeedModules.AngularUI.Extensions;
@model SeedModules.AngularUI.Models.ViewOptionsModel;
<!DOCTYPE html>
<!--[if lte IE 8]><html lang="zh-cn" data-html-type="no-js lte-ie8"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="zh-cn" data-html-type="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title></title>

    <link rel="stylesheet" href="/SeedModules.AngularUI/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/SeedModules.AngularUI/css/bootstrap-theme.min.css" />
    <!-- <script src="/SeedModules.MindPlus/js/wysihtml/wysihtml-toolbar.min.js"></script>
    <script src="/SeedModules.MindPlus/js/parser_rules/advanced_and_extended.js"></script> -->
    @Html.AngularUI("/SeedModules.AngularUI/js/seed/require.min.js", "/SeedModules.AngularUI/main.js").Options(Model.Options).Settings(Model.SiteSettings).Properties(Model.Properties)
</head>
<body ui-view>

</body>
</html>