<div ng-controller="SeedModules.Admin/ui/controllers/admin">
    <div class="nav">
        <div class="nav-top">
            <div style="border-bottom:1px solid rgba(255,255,255,.1)">
                <a href="" id="mini">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
        </div>
        <ul>
            <li class="nav-item">
                <a href="">
                    <i class="fa fa-cog"></i>
                    <span>网站配置</span>
                    <i class="fa fa-angle-right nav-more"></i>
                </a>
                <ul>
                    <li>
                        <a href="">
                            <span>网站设置</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>友情链接</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>分类管理</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>系统日志</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="">
                    <i class="fa fa-file"></i>
                    <span>文章管理</span>
                    <i class="fa fa-angle-right nav-more"></i>
                </a>
                <ul>
                    <li>
                        <a href="">
                            <span>站内新闻</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>站内公告</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>登录日志</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="">
                    <i class="fa fa-comment"></i>
                    <span>订单管理</span>
                    <i class="fa fa-angle-right nav-more"></i>
                </a>
                <ul>
                    <li>
                        <a href="">
                            <span>订单列表</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>打个酱油</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>也打酱油</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div style="margin-left: 220px">
        <div class="navbar navbar-default navbar-static-top"></div>
    </div>
</div>