<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#db_table" aria-controls="db_table" role="tab" data-toggle="tab">
                <i class="glyphicon glyphicon-th-list"></i>
                数据表
            </a>
        </li>
        <li role="presentation" class="disabled">
            <a href="">
                视图
            </a>
        </li>
        <li role="presentation" class="disabled">
            <a href="">
                存储过程
            </a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content" style="padding-top: 20px">
        <div role="tabpanel" class="tab-pane active" id="db_table" ng-include="'SeedModules.PageBuilder/modules/components/database/table.html'"
            ng-controller="SeedModules.PageBuilder/modules/components/database/table"></div>
        <div role="tabpanel" class="tab-pane" id="db_views">...</div>
        <div role="tabpanel" class="tab-pane" id="db_proc">...</div>
    </div>

</div>