<div class="row" ng-init="vm.load()">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="list-group">
                <div class="list-group-item" ng-repeat="row in list">
                    <div class="pull-right">
                        <a href="" class="text-primary" ng-click="vm.edit(row)">
                            <i class=" glyphicon glyphicon-edit"></i>
                            编辑
                        </a>
                        <a href="" class="text-danger" ng-click="vm.delete(row)">
                            <i class=" glyphicon glyphicon-trash"></i>
                            删除
                        </a>
                    </div>
                    <strong>{{row.properties.remark && row.properties.remark.length>0 ? row.properties.remark : row.properties.name}}</strong>
                    <p class="text-muted">{{row.properties.description}}&nbsp;</p>
                </div>
            </div>
            <div class="list-group">
                <a href="" class="text-center list-group-item" ng-click="vm.add()">
                    <i class="glyphicon glyphicon-plus"></i>
                    添加
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <table class="table">

        </table>
    </div>
</div>