<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#db_table" aria-controls="db_table" role="tab" data-toggle="tab">表</a>
        </li>
        <li role="presentation">
            <a href="#db_views" aria-controls="db_views" role="tab" data-toggle="tab">视图</a>
        </li>
        <li role="presentation">
            <a href="#db_proc" aria-controls="db_proc" role="tab" data-toggle="tab">存储过程</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content" style="padding-top: 20px">
        <div role="tabpanel" class="tab-pane active" id="db_table">
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="list-group">
                            <div class="list-group-item">
                                <div class="btn-group btn-group-xs pull-right">
                                    <button class="btn btn-danger">
                                        <i class=" glyphicon glyphicon-trash"></i>
                                        删除
                                    </button>
                                </div>
                                <a href="">表名</a>
                                <p class="text-muted">描述aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
                            </div>
                            <div class="list-group-item">
                                <a href="">表名</a>
                                <p class="text-muted">描述</p>
                            </div>
                            <div class="list-group-item">
                                <a href="">表名</a>
                                <p class="text-muted">描述</p>
                            </div>
                        </div>
                        <div class="list-group">
                            <a href="" class="text-center list-group-item">
                                <i class="glyphicon glyphicon-plus"></i>
                                添加
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <table class="table">

                    </table>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="db_views">...</div>
        <div role="tabpanel" class="tab-pane" id="db_proc">...</div>
    </div>

</div>