<div class="col-md-6 form-group" ng-init="itemInited(item, $event)">
    <div class="form-control-static" ng-style="item.titleStyle">
        <a href="">
            <i class="glyphicon glyphicon-unchecked"></i>
        </a>
        <label ng-if="!isLeaf(item)">
            <a href="" ng-click="itemExpended(item, $event)">{{item.title}}</a>
        </label>
        <label ng-if="isLeaf(item)">{{item.title}}</label>
    </div>
</div>

<!--内容-->
<div class="col-md-12" style="border-bottom: 1px solid #ddd">

</div>

<div ng-if="!isLeaf(item)" ng-show="item.$$isExpend">
    <div ng-repeat="item in getItemChildren(item)" ng-include="'/SeedModules.MindPlus/modules/myworks/templates/workItemBlock.html'"></div>
</div>