<div ng-controller="SeedModules.MindPlus/modules/myworks/controllers/works">
    <div class="navbar navbar-static-top navbar-default" style="z-index: 0">
        <div class="navbar-header">
            <div class="navbar-form">
                <div class="form-group has-feedback">
                    <input class="form-control" placeholder="搜索...">
                    <span class="form-control-feedback text-muted">
                        <i class="glyphicon glyphicon-search"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="navbar-form navbar-right">
                <div class="btn-group">
                    <button class="btn btn-primary" ng-click="create()">
                        <i class="glyphicon glyphicon-plus"></i>
                        新建工作
                    </button>
                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        <i class="caret"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a href="">
                                从模板创建
                            </a>
                        </li>
                    </ul>
                </div>
                <button class="btn btn-default" ng-click="addfolder()">
                    <i class="glyphicon glyphicon-plus"></i>
                    新建文件夹
                </button>
                <button class="btn btn-default">
                    <i class="glyphicon glyphicon-list"></i>
                    批量操作
                </button>
            </div>
            <div class="navbar-form navbar-right" ng-show="$stateParams.parentid">
                <button class="btn btn-default" ng-click="back()">
                    <i class="glyphicon glyphicon-level-up"></i>
                    返回上一级
                </button>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="panel panel-default">
            <table ng-table="tableParams" class="table table-striped table-hover table-bordered" template-pagination="/SeedModules.MindPlus/modules/myworks/templates/tablePagination.html">
                <colgroup>
                    <col/>
                    <col/>
                    <col width="45px" />
                </colgroup>
                <tr ng-repeat="row in $data">
                    <td title="'名称'">
                        <a ng-href="{{$appConfig.siteSettings.prefix + (row.isFolder ? ('/SeedModules.MindPlus/Home/Works#/home/works/' + row.id) : ('/SeedModules.MindPlus/Home/Works#/home/work/' + row.id + '/workitems/board'))}}">
                            <i ng-class="{'fas fa-file fa-fw':!row.isFolder, 'fas fa-folder fa-fw':row.isFolder}"></i>
                            {{row.name}}
                        </a>
                    </td>
                    <td title="'修改时间'">{{row.modifyTime|date:'yyyy-MM-dd HH:mm'}}</td>
                    <td title="'操作'" class="text-center">
                        <a href="">
                            <i class="glyphicon glyphicon-option-vertical"></i>
                        </a>
                    </td>
                </tr>
                <tr ng-show="$data.length<=0">
                    <td colspan="3" class="text-center">
                        无任何记录
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>