<div class="mind-container" ng-controller="SeedModules.MindPlus/modules/myworks/components/work/work" ng-init="loadDetails()">
    <div class="container-fluid">
        <h4>{{current?current.name:'&nbsp;'}}</h4>
    </div>
    <ul class="nav nav-swiper nav-swiper-primary">
        <li role="presentation" ng-class="{'active': $state.current.name.indexOf('home.work.dashboard')===0}">
            <a href="" ng-click="$state.go('home.work.dashboard', { id: $stateParams.id })">
                <i class="fas fa-clock"></i>
                最新动态
            </a>
        </li>
        <li role="presentation" ng-class="{'active': $state.current.name.indexOf('home.work.workitems')===0}">
            <a href="" ng-click="$state.go('home.work.workitems.board', { id: $stateParams.id })">
                <i class="fas fa-briefcase"></i>
                工作项
            </a>
        </li>
        <li role="presentation">
            <a href="">
                <i class="fas fa-calendar-alt"></i>
                日程
            </a>
        </li>
        <li>
            <a href="" ng-click="settings()">
                <i class="fas fa-edit"></i>
                设置
            </a>
        </li>
    </ul>
    <div ui-view class="mind-container" style="top: 79px"></div>
</div>