<div ng-controller="SeedModules.MindPlus/modules/portals/controllers/register">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/">MindPlus</a>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 70px">
        <div class="row">
            <div class="col-md-8">
                <p>注册新用户</p>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4 class="page-header">新用户注册</h4>
                    </div>
                    <form name="theform" class="panel-body" sf-form="sfform.form" sf-schema="sfform.schema" sf-options="sfform.options" sf-model="sfform.model"></form>
                    <div class="panel-footer clearfix">
                        <div class="pull-right">
                            <button class="btn btn-success" ng-click="vm.regist()">注册</button>
                        </div>
                        <form class="form-inline">
                            <a href="" class="form-control-static">
                                <i class="fab fa-weixin"></i>
                            </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>