<div ng-controller="SeedModules.Saas/ui/controllers/tenants" ng-init="load()">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>租户列表</strong>
        </div>
        <div class="navbar navbar-default navbar-static-top" style="margin: 0">
            <div class="navbar-header navbar-form">
                <select class="form-control">
                    <option>全部</option>
                    <option>运行中</option>
                    <option>停止</option>
                </select>
                <div class="input-group">
                    <input class="form-control">
                    <div class="input-group-btn">
                        <button class="btn btn-default">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="navbar-form navbar-left">
                    <button class="btn btn-info">
                        <i class="glyphicon glyphicon-ok-circle"></i>
                        启用
                    </button>
                    <button class="btn btn-danger">
                        <i class="glyphicon glyphicon-ban-circle"></i>
                        禁用
                    </button>
                    <button class="btn btn-warning">
                        <i class="glyphicon glyphicon-refresh"></i>
                        重启
                    </button>
                </div>

                <div class="navbar-form navbar-right">
                    <button class="btn btn-success" ng-click="create()">
                        <i class="glyphicon glyphicon-plus"></i>
                        添加
                    </button>
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover">
            <colgroup>
                <col width="50px" />
            </colgroup>
            <thead>
                <tr>
                    <th>
                        <input type="checkbox" ng-model="checkedAll" ng-change="checkAll()">
                    </th>
                    <th class="text-right">
                        <span class="pull-left">名称</span>
                        <!-- <i class="fa fa-sort-down"></i> -->
                    </th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in list">
                    <td>
                        <input type="checkbox" ng-model="checked[row.name]" ng-change="onCheck()">
                    </td>
                    <td>{{row.name}}</td>
                    <td></td>
                    <td>
                        <a href="">编辑</a>
                        <a href="">删除</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="panel-footer">
            <ul class="pagination" style="margin: 0">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li>
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
            <div class="btn-group pull-right">
                <button class="btn btn-primary active">10</button>
                <button class="btn btn-default">25</button>
                <button class="btn btn-default">50</button>
            </div>
        </div>
    </div>
</div>