/* admin */

.seed-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.seed-container .seed-content {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
}

/* sidebar */

.sidebar {
    width: 220px;
    height: 100%;
    background: #263238;
    transition: all .3s;
    position: absolute;
    top: 0;
    left: 0;
}

.sidebar-content {
    margin-left: 220px;
    transition: all .3s;
}

.sidebar ul {
    margin: 0;
    padding: 0
}

.sidebar li {
    list-style: none
}

.sidebar a {
    text-decoration: none;
}

.sidebar a {
    display: block;
    overflow: hidden;
    padding-left: 20px;
    line-height: 49px;
    max-height: 49px;
    color: #ABB1B7;
    transition: all .3s;
}

.sidebar a span {
    margin-left: 15px;
}

.sidebar-item {
    position: relative;
}

.sidebar-item.sidebar-show {
    border-bottom: none;
}

.sidebar-item ul {
    display: none;
    background: rgba(0, 0, 0, .1);
}

.sidebar-item.sidebar-show ul {
    display: block;
}

.sidebar-item>a:before {
    content: "";
    position: absolute;
    left: 0px;
    width: 2px;
    height: 49px;
    background: #34A0CE;
    opacity: 0;
    transition: all .3s;
}

.sidebar-more {
    float: right;
    margin-right: 20px;
    margin-top: 18px;
    transition: transform .3s;
}

.sidebar-top {
    border-bottom: 1px solid rgba(255, 255, 255, .1)
}

/*---------------------*/

.sidebar-show .sidebar-more {
    transform: rotate(90deg);
}

.sidebar-show,
.sidebar-item>a:hover {
    color: #FFF;
    background: rgba(0, 0, 0, .1);
}

.sidebar-show>a:before,
.sidebar-item>a:hover:before {
    opacity: 1;
}

.sidebar-item li:hover a {
    color: #FFF;
    background: rgba(0, 0, 0, .1);
}

/* sidebar-mini */

.sidebar-mini.sidebar {
    width: 55px;
}

.sidebar-min.sidebar-content {
    margin-left: 55px;
}

.sidebar-mini.sidebar .sidebar-item>a span {
    display: none;
}

.sidebar-mini.sidebar .sidebar-more {
    margin-right: -20px;
}

.sidebar-mini.sidebar .sidebar-item ul {
    position: absolute;
    top: 0px;
    left: 55px;
    width: 180px;
    z-index: 99;
    background: #3C474C;
    overflow: hidden;
    border-radius: 0 4px 4px 0;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.sidebar-mini.sidebar .sidebar-item:hover {
    background: rgba(255, 255, 255, .1);
}

.sidebar-mini.sidebar .sidebar-item:hover .sidebar-item a {
    color: #FFF;
}

.sidebar-mini.sidebar .sidebar-item:hover a:before {
    opacity: 1;
}

.sidebar-mini.sidebar .sidebar-item:hover ul {
    display: block;
}

.navbar-blank {
    background-color: transparent;
    border-color: #e7e7e7;
}