<div ng-controller="SeedModules.MindPlus/ui/mind/controllers/editor">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li>
                    <a ng-href="{{$appConfig.siteSettings.prefix + '/SeedModules.MindPlus/Home/Works#/workspace/' + $stateParams.id}}">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        返回项目
                    </a>
                </li>
            </ul>
            <div class="navbar-brand">
                {{current.name}}
            </div>
        </div>
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="">
                        <i class="glyphicon glyphicon-floppy-disk"></i>
                        保存
                    </a>
                </li>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user-circle fa-fw"></i>
                        管理员
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="">我的文档</a>
                        </li>
                        <li>
                            <a href="">个人中心</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="">注销</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="container-fluid mind-nav">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#mind" aria-controls="mind" role="tab" data-toggle="tab">思路</a>
            </li>
            <li role="presentation">
                <a href="#theme" aria-controls="theme" role="tab" data-toggle="tab">外观</a>
            </li>
            <li role="presentation">
                <a href="#views" aria-controls="views" role="tab" data-toggle="tab">视图</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane panel panel-default active" id="mind">
                <div class="panel-body">
                    <div class="mind-editor-group">
                        <div class="btn-group-vertical btn-group-sm">
                            <button class="btn btn-default">
                                <i class="fas fa-undo"></i>
                            </button>
                            <button class="btn btn-default">
                                <i class="fas fa-redo"></i>
                            </button>
                        </div>
                    </div>
                    <div class="mind-editor-group">
                        <div class="btn-group-vertical btn-group-sm">
                            <button class="btn btn-default">
                                插入下级主题
                            </button>
                            <button class="btn btn-default">
                                插入同级主题
                            </button>
                        </div>
                        <div class="btn-group-vertical btn-group-sm">
                            <button class="btn btn-default">
                                插入上级主题
                            </button>
                        </div>
                    </div>
                    <div class="mind-editor-group">
                        <div class="btn-group-vertical btn-group-sm">
                            <button class="btn btn-default">
                                上移
                            </button>
                            <button class="btn btn-default">
                                下移
                            </button>
                        </div>
                        <div class="btn-group-vertical btn-group-sm">
                            <button class="btn btn-default">
                                编辑
                            </button>
                            <button class="btn btn-default">
                                删除
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane panel panel-default" id="theme">
                <div class="panel-body">bbb</div>
            </div>
            <div role="tabpanel" class="tab-pane panel panel-default" id="views">
                <div class="panel-body">ccc</div>
            </div>
        </div>
    </div>

    <div class="mind-editor">
        <div class="panel panel-default">
            <div class="mind-container" style="overflow: hidden;"></div>
        </div>
    </div>
    <!-- <div class="mind-nav mind-container" style="position: absolute; top: 50px; overflow: hidden;"></div> -->
    <!-- <kityminder-editor on-init="initEditor(editor, minder)" class="mind-nav mind-container" style="position: absolute; top: 50px; overflow: hidden;"></kityminder-editor> -->
</div>