<div ng-controller="SeedModules.MindPlus/ui/mind/controllers/editor" ng-init="load()">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li>
                    <a ng-href="{{$appConfig.siteSettings.prefix + '/SeedModules.MindPlus/Home/Works#/workspace/' + $stateParams.id}}">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        返回项目
                    </a>
                </li>
            </ul>
            <div class="navbar-brand">
                {{current.name}}
            </div>
        </div>
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="">
                        <i class="glyphicon glyphicon-floppy-disk"></i>
                        保存
                    </a>
                </li>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user-circle fa-fw"></i>
                        管理员
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="">我的文档</a>
                        </li>
                        <li>
                            <a href="">个人中心</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="">注销</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <!-- 功能导航 -->
    <div class="container-fluid mind-editor-nav">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#mind" aria-controls="mind" role="tab" data-toggle="tab">思路</a>
            </li>
            <li role="presentation">
                <a href="#theme" aria-controls="theme" role="tab" data-toggle="tab">外观</a>
            </li>
            <li role="presentation">
                <a href="#views" aria-controls="views" role="tab" data-toggle="tab">视图</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane panel panel-default active" id="mind">
                <div class="panel-body">
                    <div class="mind-editor-group">
                        <div class="editor-group">
                            <button class="btn btn-xs btn-default">
                                <i class="fas fa-undo"></i>
                                撤销
                            </button>
                            <button class="btn btn-xs btn-default">
                                <i class="fas fa-redo"></i>
                                重做
                            </button>
                        </div>
                    </div>
                    <div class="mind-editor-group">
                        <div class="editor-group">
                            <button class="btn btn-xs btn-default" ng-click="addChild()" ng-disabled="!currentNode">
                                <i class="glyphicon glyphicon-import"></i>
                                插入下级主题
                            </button>
                            <button class="btn btn-xs btn-default" ng-click="addParent()" ng-disabled="!currentNode">
                                <i class="glyphicon glyphicon-export"></i>
                                插入上级主题
                            </button>
                        </div>
                        <div class="editor-group">
                            <button class="btn btn-xs btn-default" ng-click="addCurrent()" ng-disabled="!currentNode">
                                <i class="glyphicon glyphicon-save"></i>
                                插入同级主题
                            </button>
                        </div>
                    </div>
                    <div class="mind-editor-group">
                        <div class="editor-group">
                            <button class="btn btn-xs btn-default" ng-click="arrangeUp()" ng-disabled="!currentNode">
                                <i class="glyphicon glyphicon-arrow-up"></i>
                                上移
                            </button>
                            <button class="btn btn-xs btn-default" ng-click="arrangeDown()" ng-disabled="!currentNode">
                                <i class="glyphicon glyphicon-arrow-down"></i>
                                下移
                            </button>
                        </div>
                        <div class="editor-group">
                            <button class="btn btn-xs btn-default" ng-click="edit()" ng-disabled="!currentNode">
                                <i class="glyphicon glyphicon-edit"></i>
                                编辑
                            </button>
                            <button class="btn btn-xs btn-default" ng-click="drop()" ng-disabled="!currentNode">
                                <i class="glyphicon glyphicon-trash"></i>
                                删除
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane panel panel-default" id="theme">
                <div class="panel-body">
                    <div class="mind-editor-group">
                        <div class="editor-group">
                            <button class="btn btn-xs btn-default editor-btn">
                                <i class="fas fa-expand-arrows-alt fa-2x"></i>
                                <br/>
                                <span>整理布局</span>
                            </button>
                        </div>
                    </div>
                    <div class="mind-editor-group">
                        <div class="editor-group">
                            <button class="btn btn-xs btn-default editor-btn">
                                <i class="fas fa-eraser fa-2x"></i>
                                <br/>
                                <span>清除样式</span>
                            </button>
                        </div>
                        <div class="editor-group">
                            <button class="btn btn-xs btn-default">
                                <i class="fas fa-paste"></i>
                                复制样式
                            </button>
                            <button class="btn btn-xs btn-default">
                                <i class="fa fa-clipboard"></i>
                                粘贴样式
                            </button>
                        </div>
                    </div>
                    <div class="mind-editor-group">
                        <div class="editor-group">
                            <div class="editor-group-row">
                                <div class="form-group-xs">
                                    <select class="form-control" style="width: 100px"></select>
                                </div>
                                <div class="form-group-xs">
                                    <select class="form-control"></select>
                                </div>
                            </div>
                            <div class="editor-group-row">
                                <div class="btn-group btn-group-xs">
                                    <button class="btn btn-default">
                                        <i class="fas fa-bold fa-fw"></i>
                                    </button>
                                    <button class="btn btn-default">
                                        <i class="fas fa-italic fa-fw"></i>
                                    </button>
                                </div>
                                <div class="form-group-xs">
                                    <select class="form-control"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane panel panel-default" id="views">
                <div class="panel-body">
                    <div class="mind-editor-group">
                        <div class="editor-group">
                            <button class="btn btn-xs btn-default editor-btn">
                                <i class="fas fa-expand fa-2x"></i>
                                <br/>
                                <span>&nbsp;全选</span>
                                <i class="fas fa-caret-down"></i>
                            </button>
                        </div>
                        <div class="editor-group">
                            <button class="btn btn-xs btn-default editor-btn">
                                <i class="fas fa-search fa-2x"></i>
                                <br/>
                                <span>&nbsp;搜索&nbsp;</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mind-editor">
        <div class="panel panel-default">
            <div class="mind-container" style="overflow: hidden;"></div>
        </div>
    </div>
    <!-- <div class="mind-nav mind-container" style="position: absolute; top: 50px; overflow: hidden;"></div> -->
    <!-- <kityminder-editor on-init="initEditor(editor, minder)" class="mind-nav mind-container" style="position: absolute; top: 50px; overflow: hidden;"></kityminder-editor> -->
</div>